.song-card {
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  
}

.song-card:hover .song-title {
  color: rgb(110, 41, 41);
}

.image-container {
  position: relative;
}

.song-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.overlay {
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}

.overlay.hovered {
  opacity: 1;
}

.play-button {
  color: white;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button:hover {
  color: red;
}

.song-info {
  padding: 8px;
}

.song-title {
  font-size: 15px;
  font-weight: bold; 
  color: white;
  text-align: center;
}


