.song-item {
  display: flex;
  padding: 10px;
  gap: 10px;
  color: white;
}

.song-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.song-icon {
  color: rgb(255, 255, 255);
}

.song-title {
  margin: 0;
  margin-left: 8px;
  font-size: 10px;
  color: rgb(150, 149, 149);
  text-align: left;
}

.song-list {
  margin-left: 0;
  padding-left: 0;
}
