.song-list {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}

.song-list-item {
  gap: 10px;
  padding: 5px;
}

.song-button {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.song-button:hover .song-icon {
  opacity: 0.5;
}

.song-button:hover .song-name {
  opacity: 0.5;
}
.song-icon {
  color: rgb(255, 255, 255);
}

.song-name {
  font-size: 30px;
  color: white;
  font-size: 13px;
  margin-left: 8px;
  text-align: left;
}
