.home {
    background-color: #0e1116;
    margin-right: 0;
    margin-left: 220px;
    display: flex;
    flex-direction: column;
   
} 

.header {
    font-size: 30px;
    font-weight: 800;
    color: white;
    padding: 16px;
    margin-left: 32px;
    text-align: left;
}

.content {
    display: flex;
    margin-left: 32px;
}

.left-section {
    display: flex;
    flex-direction: column;
}

.banner-container {
    padding: 16px;
    cursor: pointer;
}

.banner {
    border-radius: 12px;
    width: 800px;
    height: 150px;
}

.section-title {
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 16px;
    text-align: left;
}

.song-section{
    margin-bottom: 100px;
}
.song-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
}

@media (min-width: 640px) {
    .song-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 768px) {
    .song-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
    }
}

.right-section {
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    width: 384px;
}

.ads-container, .maker-avatar, .support-section, .footer {
    padding-bottom: 32px;
    padding-top: 16px;
    border-top: 1px solid #333;
}

.ad-element {
    padding: 8px;
    padding-left: 0;
}

.ad-image {
    border-radius: 12px;
    width: 300px;
    height: 100px;
}

.maker-avatar {
    display: flex;
    padding: 8px;
    padding-left: 0;
    cursor: pointer;
    
}

.avatar-image {
    border-radius: 50%;
    width: 48px;
    height: 48px;
    
}

.maker-info {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    text-align: left;
}

.maker-name {
    font-size: 16px;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.maker-name:hover {
    color: #3f3f40; 
  }

.maker-details {
    font-size: 14px;
    color: white;
}

.support-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: white;
}

.support-title {
    font-weight: bold;
}

.support-description {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 8px;
}

.support-button {
    background-color: #3b82f6;
    padding: 8px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    font-weight: bold;
    border-radius: 12px;
    width: 300px;
    border: 1px solid #333;
    cursor: pointer;
}

.support-button.donation {
    background-color: #f87171;
    
}

.support-or {
    font-weight: 800;
    padding-top: 16px;
    padding-bottom: 16px;
}

.support-key {
    font-weight: 800;
    padding-top: 16px;
    cursor: pointer;
}

.footer {
    color: white;
    font-size: 12px;
    padding-top: 16px;
}
